.search-form {
    margin: 0 auto;
}

.adv-opt-h4 {
    margin-bottom: 0;
}

.advanced-options {
    justify-content: left;
}

.advanced-options label {
    margin-right: 8px;
}

.select-multi {
    display: flex;
}

.search-param-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
