.navbar {
    display: flex;
    justify-content: space-between;
    align-items: middle;
    margin: 1rem;
}

h1 {
    margin: 0;
    font-size: 40px;
    margin: 4px;
}

.nav-link-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    background-color: var(--rav-dark-background);
}

.rav-link {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.rav-link img {
    margin: 0 auto;
}

.nav-button {
    border: none;
    background-color: var(--rav-dark-background);
    color: antiquewhite;
    margin: 0 6px;
    font-size: 25px;

}

.nav-button:hover {
    color: aqua;
}

.nav-button.active {
    border: none;
    text-decoration: underline;
    text-decoration-color: aqua;
}

.closed {
    display: none;
}