.big-text {
    text-align: center;
}

.result-pattern-name {
    font-size: 40px;
    text-align: center;
}

.result-pattern-thumb-container {
    display: flex;
    justify-content: center;
}

.result-pattern-thumb {
    max-width: 500px;
    min-width: 250px;
    height: auto;
    background-color: gray;
    margin-bottom: 1rem;
}

.result-pattern-link-container {
    text-align: center;
}

.result-pattern-link {
    text-decoration: none;
    color: aqua;
    margin: 0;
}

#spin-again-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}



.hidden {
    display: none;
}