* {
  --rav-dark-background: #191c27;
  --rav-logo-text: aqua;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: antiquewhite;
  background-color: var(--rav-dark-background);
}

button {
  background: none;
  color: antiquewhite;
  border: 2px solid antiquewhite;
  border-radius: 5px;
  padding: 0.5rem;
}

.info-btn {
  background: none;
  border: none;
}

.hidden {
  display: none;
}
